<div class="container-fluid">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4   ">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-2  text-decoration-none header-link">
      Notes      
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-dark">About</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
      </ul>

      <form class="col-12 col-md-4 col-lg-auto mb-3 mb-lg-0 me-lg-3 w-" method="POST" action="/search/notes">
        <input type="search" class="form-control form-control-dark" placeholder="Search Notes" aria-label="Search">
      </form>

      <div class="text-end">
        <a href="/logout"><button type="button" class="btn btn-custom me-3" onclick="" >Logout</button></a>
      </div>
    </div>
  </div>